<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <title>Ancestry Radio</title>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script>
		birthYear = <%=birthYear%>;
	</script>
</head>
<body ng-app="radioApp" ng-controller="IndexCtrl">
	<h1>{{year}}</h1>
	<div ng-if="tracks">
		<iframe ng-src="{{trustSrc(tracks)}}" style="width:300px; height:1000px;" frameborder="0" allowTransparency="true"></iframe>
	</div>
	<script src="vendor/angular.min.js"></script>
	<script src="vendor/angular-sanitize.min.js"></script>
	<script src="module.js"></script>
    <% scripts.forEach(function(file) { %>
    <script src= <%=file%>></script>
    <% }); %>
</body>
</html>